<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Ghazi</title>
=======
  <title>RailsApp</title>
>>>>>>> 692dfcb67b03d88566c34c96603ef446c2608116
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<body style ="background: #AAE47A;">

=======
>>>>>>> 692dfcb67b03d88566c34c96603ef446c2608116
<%= yield %>

</body>
</html>
